*{
  
}

body{
  background-color: rgb(10, 5, 0);

  background-image: url('/imgs/bgimg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Inter', sans-serif;
}

.header{
  display: flex;
  background-color: black;
  opacity:0.9;
  margin-bottom: 5rem;
  margin-top: 0;
  justify-content: space-around;
  border-radius: 4px;
}

h1{
  font-size:2rem;
  color:rgb(207, 82, 5);
  text-align: center;
  text-transform: uppercase;
  text-shadow:2px 2px 2px rgb(109, 60, 3);

  background: rgba(0, 0, 0, 0.8);
  font-family: 'Orbitron', sans-serif;
}

.drum_icon{
  width:100px;
  border-radius: 50%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width:60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.5rem;

  background: rgba(0, 0, 0, 0.8);

  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px coral;
}

label {
  display: block;
  color: white;
  margin-bottom: 0.1rem;
}

.song-label{
  margin: 0;
  font-size: 1.4rem;
}

.bpm-and-button {
  display:flex;
  align-items: center;
  justify-content: left;
}

.bpm-and-button input,
.bpm-and-button {
  gap:20px;
}

.bpm-and-button label{
  font-size:1.4rem;
}

input,
button {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}

.p-song-list{
  color:white;
  font-size:1.5rem;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.p-song-list li{
  display:flex;
  padding:5px;
  margin:auto;
  gap:12px;
  align-items: center;
  justify-content: center;

  border-bottom: grey 1px solid;
}

li span{
  flex: 1;
}

.bpm-button{
  width:40px;
}

.start-button{
  display: block;
  margin:auto;
  
  padding: 22px 50px;
  font-size: 1.6rem;
  font-weight: bold;

  border-radius: 12px;
  cursor: pointer;
}


.song-list-and-start-btn{
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px coral;
  padding:5rem;
  background-color: black;
  opacity: 0.8;
  width:50%;
  margin: 8rem auto;
}

footer{
  color:white;
  text-align: center;
}

/* mobile */
@media (max-width: 768px) {

  form{
    width:100%;
  }

  .song-label,
  .bpm-and-button label{
    font-size: 18px;
  }

  .song-list-and-start-btn{
    box-sizing: border-box;
    width:100%;
    margin: 50px 0px 20px;
    padding: 0px 0px 10px 0px;
  }

  .p-song-list{
    min-height: 8px;
    padding-left: 0;
    margin:0;
    list-style: none;
  }

  .start-button{
    margin: 15px auto 10px;

    background-color: coral;
    color: black;
    text-shadow: 1px 1px 2px white;
  }

  .save-btn{
    background-color: white;
    color:black;
  }

}