body{
  background-color: rgb(32, 16, 0);
  background-image: url('/imgs/bgimg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1{
  font-size:2rem;
  color:rgb(218, 86, 5);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  text-shadow:2px 2px 2px rgb(52, 29, 2);
}